binder_call(atfwd, servicemanager)
allow atfwd atfwd_service:service_manager find;
allow atfwd diag_device:chr_file rw_file_perms;
allow atfwd qmuxd:unix_stream_socket connectto;
allow atfwd qmuxd_socket:dir rw_dir_perms;
allow atfwd qmuxd_socket:sock_file create_file_perms;
allow atfwd sysfs:file r_file_perms;
