allow audiod proc_asound:file r_file_perms;
allow audiod proc_asound:dir r_dir_perms;
allow audiod sysfs_switch:dir r_dir_perms;
allow audiod sysfs_switch:file r_file_perms;
