allow mediadrmserver firmware_file:dir search;
allow mediadrmserver firmware_file:file r_file_perms;
allow mediadrmserver firmware_file:lnk_file r_file_perms;
allow mediadrmserver media_data_file:dir { create rw_dir_perms };
allow mediadrmserver media_data_file:file create_file_perms;
