
allow rmt_storage firmware_file:dir r_dir_perms;
allow rmt_storage firmware_file:file r_file_perms;
allow rmt_storage fsg_file:dir search;
allow rmt_storage fsg_file:file r_file_perms;
allow rmt_storage fsg_file:lnk_file read;
allow rmt_storage init:unix_stream_socket connectto;
allow rmt_storage property_socket:sock_file write;
allow rmt_storage rmtfs_prop:property_service set;
allow rmt_storage self:capability { dac_override net_raw sys_admin };
allow rmt_storage sysfs:file { getattr open read };
allow rmt_storage unlabeled:file { open read };


allow rmt_storage sysfs_rmt_storage:file rw_file_perms;
allow rmt_storage sysfs_rmt_storage:dir { search open };
#allow rmt_storage sysfs_uio:file r_file_perms;
allow rmt_storage sysfs_uio:dir { read open search };
allow rmt_storage sysfs_uio:lnk_file { read };
allow rmt_storage debugfs_rmt_storage:dir search;
allow rmt_storage debugfs_rmt_storage:file w_file_perms;
