allow system_app sysfs_homebutton:file rw_file_perms;
allow system_app sysfs_homebutton:file rw_file_perms;
allow system_app sysfs_torch:file rw_file_perms;
allow system_app time_daemon:unix_stream_socket connectto;

binder_call(system_app, per_mgr);
binder_call(system_app, qseeproxy);
binder_call(system_app, wificond);
