allow thermal-engine device:chr_file ioctl;
allow thermal-engine self:capability { sys_nice };
allow thermal-engine thermal_device:chr_file { read write open };
allow thermal-engine socket_device:sock_file { create_file_perms };
allow thermal-engine sysfs_battery:lnk_file r_file_perms;
allow thermal-engine sysfs_soc_qcom:dir r_dir_perms;
allow thermal-engine sysfs_soc_qcom:file rw_file_perms;
allow thermal-engine sysfs_soc_qcom:lnk_file r_file_perms;
