get_prop(untrusted_app, camera_prop);
get_prop(untrusted_app_25, camera_prop);
get_prop(untrusted_app_27, camera_prop);
get_prop(untrusted_app, vendor_camera_prop);
get_prop(untrusted_app_25, vendor_camera_prop);
get_prop(untrusted_app_27, vendor_camera_prop);

allow untrusted_app sysfs_zram:dir { search read };
allow untrusted_app sysfs_zram:file { open read getattr };
