[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Athene maintainers
	push = +force group Athene maintainers
	pushMerge = group Athene maintainers
	label-Verified = -1..+1 group Athene maintainers
	create = group Athene maintainers
	submit = group Athene maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Athene maintainers
